/* 
    Ce fichier est dedié qu'au responsive du site
*/

/* Responsive Tablette */
@media (max-width: 1200px) {
    header {
        flex-direction: column;
        gap: 0;
        padding: 10px;
    }
    header h1 {
        font-size: 28px;
    }
    header nav {
        gap: 15px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
        align-items: start;
    }

    header h1 {
        font-size: 24px;
    }

    header nav {
        display: none;
    }
}

/* Responsive intro */
@media (max-width: 720px) {
    #intro {
        padding: 20px;
        justify-content: space-between;
        height: auto;
    }

    #intro div {
        width: 50%;
        align-items: start;
    }

    #intro p {
        font-size: 30px;
    }

    #intro a {
        font-size: 18px;
        padding: 10px 20px;
    }

    #intro img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    #intro {
        flex-direction: column-reverse;
    }

    #intro div {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #intro p {
        font-size: 24px;
    }

    #intro img {
        height: 200px;
    }
}

/* Responsive A propos */
@media (max-width: 1200px) {
    #about {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        height: auto;
    }

    #about-container {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 720px) {
    #about {
        gap: 20px;
    }

    #about-container {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    #about {
        gap: 20px;
        /* padding: 20px 0; */
    }

    #about h1 {
        font-size: 26px;
    }

    #about-container {
        justify-content: center;
        flex-direction: column-reverse;
    }

    #about-text {
        width: 100%;
    }

    #about-text p {
        font-size: 20px;
    }

    #about a {
        font-weight: bold;
        font-size: 16px;
        /* padding: 15px 20px; */
        border-radius: 5px;
    }
}


/* Responsive Projets */
@media (max-width: 480px) {
    #projects h1 {
        font-size: 26px;
    }

    #projects-container {
        gap: 50px;
        margin: 0;
        margin-bottom: 100px;
    }

    .project-card a {
        padding: 5px 40px;
        font-size: 20px;
        margin-top: 10px;
    }
}

/* Responsive Competences */
@media (max-width: 720px) {
    progress {
        width: 300px;
    }
}

@media (max-width: 480px) {
    #competences h1 {
        font-size: 26px;
    }

    #competences-container {
        margin:  0;
    }

    progress {
        width: 250px;
    }
}

/* Responsive Contact */
@media (max-width: 920px) {
    #p1 {
        font-size: 20px;
    }
    #p2 {
        font-size: 16px;
    }

    form label {
        font-size: 18px;
    }

    #noms {
        flex-direction: column;
        gap: 20px;
    }
}

/* Responsive Footer */
@media (max-width: 720px) {
    footer {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    footer {
        flex-direction: column-reverse;
        padding: 0;
    }
}
